.projects {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    overflow-x: visible;

    &-control {
        margin-right: -14px;
        margin-left: -14px;

        &_block {
            display: block;
            color: #343a40;
            font-weight: 400;
            border-radius: .25rem;
            margin-bottom: 1.875rem;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(216,223,227,.5), 0 1px 2px rgba(216,223,227,.5);
            transition: transform .15s ease-out, opacity .15s ease-out, box-shadow .15s ease-out, -webkit-transform .15s ease-out;
            text-align: center;
            text-decoration: none;

            &.__green {
                color: #30c78d;
            }

            &.__krayola {
                color: #5179d6;
            }

            &.__amethyst {
                color: #8451d6;
            }

            &.__turquoise {
                color: #4cb6c7;
            }

            &-content_full {
                font-size: 1.875rem;
                border-top-left-radius: .2rem;
                border-top-right-radius: .2rem;
                padding: 1.25rem;
                transition: opacity .25s ease-out;
                width: 100%;
                margin: 0 auto;
                overflow-x: visible;
            }

            &-content_short {
                font-weight: 600;
                font-size: .875rem;
                width: 100%;
                margin: 0 auto;
                padding: .5rem 1.25rem;
                transition: opacity .25s ease-out;
                overflow-x: visible;
                background-color: #f6f7f8;
                border-bottom-right-radius: .2rem;
                border-bottom-left-radius: .2rem;
            }

            &:hover {
                box-shadow: 0 0 1.5rem #dbe1e5;
                opacity: 1;
            }
        }
    }

    &-content {
        border-radius: .25rem;
        margin-bottom: 1.875rem;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(216,223,227,.5), 0 1px 2px rgba(216,223,227,.5);

        &_header {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-align: center;
            align-items: center;
            padding: .625rem 1.25rem;
            transition: opacity .25s ease-out;
            background-color: #f6f7f8;

            h1 {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                min-height: 1.75rem;
                margin: 0;
                font-size: .875rem;
                font-weight: 600;
                line-height: 1.75rem;
                text-transform: uppercase;
                letter-spacing: .0625rem;
            }
        }

        &-block {
            transition: opacity .25s ease-out;
            width: 100%;
            margin: 0 auto;
            padding: 1.25rem 1.25rem 1px;
            overflow-x: visible;

            &-search {
                position: relative;

                &__btn {
                    display: block;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    width: 32px;
                    height: calc(1.5em + .75rem + 2px);
                    border: 0;
                    cursor: pointer;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &__prop {
            margin-bottom: 15px;
        }

        &__description {
            margin-top: 15px;
        }
    }
}

.client{
    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        width: 100%;

        li {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            font-weight: 400;
            color: #212529;
            white-space: nowrap;
            cursor: pointer;
        }

        &.__active {
            display: block;
        }
    }
}

.__price {
    color: #4b8917;
    font-weight: 700;
}

