.i-text {
    display: block;
    width: 100%;
    padding: 5px;
    /* Turn off iPhone/Safari input element rounding: */
    -webkit-appearance: none;
    border-radius: 0;
}

.i-select {
    display: block;
    width: 100%;
    padding: 5px;
}

.i-textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    /* Remove scrollbar in IE */
    overflow: auto;
}

.i-radio {
    position: relative;
}

.i-checkbox {
    position: relative;
}
