// Font Family
$open_sans: 'Open Sans', sans-serif;

// Transition
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

// Text colors ---------------
$white: #ffffff;
$black: #262626;
$grey: #f6f7f8;
$red: #ff4742;
$green: #f6f7f8;

// Bg colors ---------------
$bg-white: #ffffff;
$bg-black: #262626;
$bg-red: #ff4742;
$bg-grey: #f6f6f8;
$bg-purple: #f0e0ff;

// Heading color
$heading-color: #000000;

// Theme color
$theme-color: #a749ff;

//== Media queries breakpoints
// Grid
$cols-total: 12;

$breakpoint-sm: 768px;
$breakpoint-md: 768px;
$breakpoint-lg: 768px;

$container-max-width-xs: 480px;
$container-max-width-sm: 768px;
$container-max-width-md: 768px;
$container-max-width-lg: 768px;

$indent-col-xs: 16px;
$indent-col-sm: 20px;
$indent-col-md: 20px;
$indent-col-lg: 30px;

// Extra small screen / phone
$screen-xs: 320px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
$screen-md: 1024px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
$screen-lg: 1366px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

// Big screen / full desktop
$screen-bg: 1920px;
$screen-bg-min: $screen-bg;
$screen-bg-desktop: $screen-bg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
