//@import '../../../node_modules/@fortawesome/fontawesome-free/scss/variables';
$fa-font-path: '/build/fonts' !default;

@font-face {
    font-family: 'Font_Awesome_Solid';
    font-style: normal;
    font-weight: 900;
    src: url('#{$fa-font-path}/fa-solid-900.eot');
    src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
    url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
}

@font-face {
    font-family: 'Font_Awesome_Regular';
    font-style: normal;
    font-weight: 400;
    src: url('#{$fa-font-path}/fa-regular-400.eot');
    src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
    url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
}

.fa,
.fas {
    font-family: 'Font_Awesome_Solid', sans-serif;
    font-weight: 900;
}

.far {
    font-family: 'Font_Awesome_Regular', sans-serif;
    font-weight: 400;
}

@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

