body {
    font-family: $open_sans;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #edf0f2;
}

a {
    transition: color .12s ease-out;
    color: #5179d6;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: #25499c;
        text-decoration: none;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.home {
    background: #2c343f;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 1.875rem 1.875rem 1px;
}
