* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    cursor: default;
    // -webkit-text-size-adjust: 100%;
    // -webkit-font-smoothing: antialiased;
}

body {
    font: normal 14px/1.4 Arial, sans-serif;
    color: #000;
    background: #fff;
    @include mobile {
        -webkit-text-size-adjust: 100%;
    }
}

img,
fieldset {
    border: 0;
}

fieldset legend {
    display: none;
}

ul,
li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: #333;
        text-decoration: none;
    }
}

table {
    border: 0;
    border-collapse: collapse;
    td {
        padding: 0;
        vertical-align: top;
    }
}

input,
select,
textarea {
    @include box;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

input[type='search'] {
    -webkit-appearance: textfield;
}

::selection {
    background: #5f5f5f;
    color: #ffffff;
    text-shadow: none;
}

::-moz-selection {
    background: #5f5f5f;
    color: #ffffff;
    text-shadow: none;
}

a[href^='tel'] {
    color: inherit;
    text-decoration: none;
}

button {
    user-select: none;
    border-radius: 0;
}
