.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &.badge-success {
        color: #fff;
        background-color: #30c78d;
    }

    &.badge-warning {
        color: #fff;
        background-color: #e5ae67;
    }

    &.badge-primary {
        color: #fff;
        background-color: #5179d6;
    }

    &.badge-danger {
        color: #fff;
        background-color: #e56767;
    }
}
