.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    background-color: #3762c3;
    border: 1px solid #345db9;

    &:hover {
        background-color: #3e69c9;
        border-color: #3762c3;
    }

    &:focus {
        background-color: #3e69c9;
        border-color: #3762c3;
        box-shadow: 0 0 0 0.2rem rgba(116,147,216,.5);
        outline: 0;
    }

    &.btn-primary {

    }

    &.btn-danger {
        color: #af1e1e;
        background-color: #f6c9c9;
        border-color: #f6c9c9;

        &:hover {
            color: #af1e1e;
            background-color: #f6c9c9;
            border-color: #f6c9c9;
        }

        &:focus {
            color: #af1e1e;
            background-color: #f6c9c9;
            border-color: #f6c9c9;
            box-shadow: 0 0 0 0.2rem rgba(242,181,181,.25);
            outline: 0;
        }
    }

    &.btn-alt-primary {
        color: #25499c;
        background-color: #d9e2f6;
        border-color: #d9e2f6;

        &:hover {
            color: #25499c;
            background-color: #bacaef;
            border-color: #bacaef;
        }
    }

    &.btn-alt-success {
        color: #176044;
        background-color: #bff0dd;
        border-color: #bff0dd;

        &:hover {
            color: #176044;
            background-color: #a0e8cd;
            border-color: #a0e8cd;
        }

        &:focus {
            color: #176044;
            background-color: #a0e8cd;
            border-color: #a0e8cd;
            box-shadow: 0 0 0 0.2rem rgba(142,228,195,.25);
            outline: 0;
        }
    }

    &.btn-alt-danger {
        color: #6d1313;
        background-color: #f2b5b5;
        border-color: #f2b5b5;

        &:hover {
            color: #af1e1e;
            background-color: #f6c9c9;
            border-color: #f6c9c9;
        }

        &:focus {
            color: #af1e1e;
            background-color: #f6c9c9;
            border-color: #f6c9c9;
            box-shadow: 0 0 0 0.2rem rgba(242,181,181,.25);
            outline: 0;
        }
    }


}

