.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-top: .5rem;
    margin-bottom: 1rem;

    .page-item {

        .page-link {
            position: relative;
            display: block;
            margin-left: -2px;
            color: #343a40;
            background-color: transparent;
            padding: .25rem .5rem;
            font-size: .975rem;
            line-height: 1.5;
            margin-right: .25rem;
            font-weight: 600;
            text-decoration: none;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            border-bottom-width: 2px;
            border-radius: 0;

            &:hover {
                z-index: 2;
                color: #5c80d1;
                text-decoration: none;
                background-color: transparent;
                border-color: #5c80d1;
            }
        }

        &.active {
            .page-link {
                z-index: 3;
                color: #5c80d1;
                background-color: #f1f4f5;
                border-color: #5c80d1;
            }
        }
    }
}

