th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #343a40;
    background-color: transparent;
    border-collapse: collapse;

    &-responsive {
        @include max-screen(730px) {
            overflow-x: scroll;
        }
    }

    thead th {
        display: table-cell;
        font-weight: 600;
        font-size: .875rem;
        letter-spacing: .0625rem;
        vertical-align: bottom;
        padding: .75rem;
    }

    tbody tr:nth-of-type(odd) {
        background-color: #f1f4f5;
    }

    tbody td {
        padding: .75rem;
        font-size: .875rem;
        vertical-align: middle;
    }

    .__settings .btn:not(:last-child) {
        margin-right: 5px;
    }

    .__price {
        color: #4b8917;
        font-weight: bold;
    }
}
